:root {
  --green-200: #a6e9d5;
  --green-800: #28454c;
  --green-700: #2b798e;
}

#root {
  /* background: linear-gradient(#8b9290, #c1d4d2); */
  background-image: url("/bg1.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 32px;
}

.timer {
  width: 200px;
}
.bg-green-200 {
  background-color: var(--green-200);
}
.bg-green-800 {
  background-color: var(--green-800);
}

.btn-green {
  background-color: var(--green-700);
  color: white;
}

.btn-green:hover {
  background-color: var(--green-200);
  color: black;
}

/* BREAKPOINTS */

/* SM breakpoint */
@media (max-width: 576px) {
  h1 {
    font-size: 24px !important;
  }
  .app {
    width: 100% !important;
  }
  .header {
    width: 100% !important;
    justify-content: space-between !important;
  }
}
@media (min-width: 576px) {
  /* CUSTOM WIDTHS */
  .w-sm-100 {
    width: 100% !important;
  }
  .w-sm-50 {
    width: 50% !important;
  }
  .w-sm-75 {
    width: 75% !important;
  }
}

/* MD breakpoint*/
@media (min-width: 768px) {
  /* CUSTOM WIDTHS */
  .w-md-100 {
    width: 100% !important;
  }
  .w-md-50 {
    width: 50% !important;
  }
  .w-md-75 {
    width: 75% !important;
  }
}

/* LG breakpoint */
@media (min-width: 992px) {
  /* CUSTOM WIDTHS */
  .w-lg-100 {
    width: 100% !important;
  }
  .w-lg-50 {
    width: 50% !important;
  }
  .w-lg-75 {
    width: 75% !important;
  }
}
